/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 *= require jquery-ui
 *= require_tree .
*/

body {
	color: white;
	background-image: url('bkg.png');
	
	div#search {
		margin-top: 200px;
		width: 1200px;
		text-align: center;
		display: none;
		background-color: transparent;
		
		h1 {
			color: white;
		}
		
		input {
			margin-top: 30px;
			height: 30px;
			font-size: 20px;
			margin-right: 135px;
		}
	}
	
	div#logo {
		margin-top: 200px;
	}
	
	#recipes {
		display: none;
		text-align: center;
		
		img {
			width: 250px;
			height: 250px;
			margin: 10px;
		}
	}
}

